<div class="psl-maps">
    <div id="map" style="height:600px; width: 1000px;">

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            </div>
            <div class="modal-body">

                <div class="row" id="modal-btns">
                    <input type="file" class="upload-btns" name="file" file>
                    <button class="btn btn-primary upload-btns" ng-click="upload(file)">Upload Image</button>
                </div>

                <img class="thumb" ng-src="{{s3Url}}{{thumb.Key}}"
                     ng-repeat="thumb in thumbData" ng-click="open($index)">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            </div>
        </script>

        <script type="text/ng-template" id="pic-modal.html">
            <div class="modal-body">
                <div class="img-group">
                    <carousel>
                        <slide ng-repeat="image in imageData" active="image.active">
                            <img ng-src="{{s3Url2}}{{image.Key}}" class="img-responsive pic" />
                            <!--<div class="carousel-caption">{{thumb.name}}</div>-->
                        </slide>
                    </carousel>
                    <!--<button type="button" class="close close-lg" ng-click="ok()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                </div>
            </div>
        </script>

    </div>
</div>

