.psl-weather {

  .current-city {
    display: inline;
  }
  .city-flag {
    vertical-align: text-top;
  }
  #add-city {
    position: fixed;
    top: 10%;
    right: 1%;
  }
  .weather-icon {
    margin-top: -5%;
  }
  .city-temperature {
    margin-top: 0px;
  }



}